<section class="contact-section">
    <div class="contact-box reach-us">
        <h2><i class="fas fa-map-marker-alt"></i> Reach Us</h2>
        <p><strong>Hashmukh Bhai (Proprietor)</strong></p>
        <p><b>H K Handicraft LLP</b></p>
        <p>Shop No. 4, Sahajanand Market, Pirmohammad Sha Road</p>
        <p>Pankore Naka, Ahmedabad - 380001, Gujarat, India</p>
        <a href="#" class="direction"><i class="fa-solid fa-location-arrow"></i> Get Directions</a>
    </div>

    <div class="contact-box call-us">
        <h4><i class="fas fa-phone-alt"></i> Call Us</h4>
        <p>04637377</p>
    </div>

    <div class="contact-box share-us">
        <h4><i class="fas fa-share-alt"></i> Share Us</h4>
        <a href="https://api.whatsapp.com/send?text=Check%20this%20handcrafted%20website:%20/YOUR_WEBSITE_URL"class="social-icon"  target="_blank" ><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=YOUR_WEBSITE_URL" class="social-icon"  target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/" class="social-icon"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
</section>