
<div class="bottom-navbar">
    <a href="/product"class="bottom-nav-item" id="nav-home" ><i class="bi bi-house-door-fill"></i>Home</a>
    <a href="/product/profile"class="bottom-nav-item"  id="nav-profile"><i class="bi bi-person-fill"></i>Profile</a>
    <a href="/product/all"class="bottom-nav-item" id="nav-all"><i class="bi bi-grid-fill"></i>Products</a>
    <a href="/product/call"class="bottom-nav-item"  id="nav-call"><i class="bi bi-telephone-fill"></i>Call</a>
    <a href="/product/cart"class="bottom-nav-item" id="nav-cart"><i class="bi bi-cart-check-fill"></i>Cart</a>
  </div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const path = window.location.pathname;

    if (path.includes("/product/profile")) {
        document.getElementById("nav-profile").classList.add("active");
    } else if (path.includes("/product/all")) {
        document.getElementById("nav-all").classList.add("active");}
    else if (path.includes("/product/call")) {
        document.getElementById("nav-call").classList.add("active");
    } else if (path.includes("/product/cart")) {
        document.getElementById("nav-cart").classList.add("active");
    } else if (path.includes("/product")) {
        document.getElementById("nav-home").classList.add("active");
    } 
});

</script>
  