
<div class="bottom-navbar">
    <a href="/product"class="bottom-nav-item" id="nav-home" ><i class="fas fa-home"></i>Home</a>
    <a href="/profile"class="bottom-nav-item"  id="nav-profile"><i class="fas fa-user" ></i>Profile</a>
    <a href="/product/call"class="bottom-nav-item"  id="nav-call"><i class="fas fa-phone" ></i>Call</a>
    <a href="/product/cart"class="bottom-nav-item" id="nav-cart"><i class="fas fa-shopping-cart"  ></i>Cart</a>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const path = window.location.pathname;
        if (path.includes("/product")) {
            document.getElementById("nav-home").classList.add("active");
        } else if (path.includes("/profile")) {
            document.getElementById("nav-profile").classList.add("active");
        } else if (path.includes("/product/call")) {
            document.getElementById("nav-call").classList.add("active");
        } else if (path.includes("/cart")) {
            document.getElementById("nav-cart").classList.add("active");
        }
    });
</script>
  