
<div class="bottom-navbar">
    <a href="/product"class="bottom-nav-item" id="nav-home" ><i class="fas fa-home"></i>Home</a>
    <a href="/profile"class="bottom-nav-item"  id="nav-profile"><i class="fas fa-user" ></i>Profile</a>
    <a href="product/call"class="bottom-nav-item"  id="nav-call"><i class="fas fa-phone" ></i>Call</a>
    <a href="/cart"class="bottom-nav-item" id="nav-cart"><i class="fas fa-shopping-cart"  ></i>Cart</a>
  </div>

  