<% if(success && success.length) { %>
   <div class="flash-message success">
       <span class="icon">✔</span>
       <span class="message"><%= success %></span>
       <span class="close-btn" onclick="this.parentElement.style.display='none';">✖</span>
   </div>
<% } %>

<% if(error && error.length) { %>
   <div class="flash-message error">
       <span class="message"><%= error %></span>
       <span class="close-btn" onclick="this.parentElement.style.display='none';">✖</span>
   </div>
<% } %>

