<footer>
    <div class="f-info">
        <div class="links"><br>
            <a href="/product">Home</a><br>
            <a href="/product/profile">Profile</a><br>
            <a href="/product/all">Product</a><br>
            <a href="/product/call">Callus</a>
        </div><br>
        <div class="f-info-social">
            <h4>Share   </h4>&nbsp;&nbsp;

            <i class="fa-brands fa-square-facebook"></i>
              <i class=" fa-brands fa-square-instagram"></i>
            <i class=" fa-brands fa-linkedin"></i>
        </div>&nbsp;&nbsp;
       <h5>  &copy;Handcraft </h5><br><br>
    </div>
</footer>