<footer>
    <div class="footer-container">
        <div class="footer-links">
            <a href="/product">Home</a>
            <a href="/product/profile">Profile</a>
            <a href="/product/all">Our Product Range</a>
            <a href="/product/call">Call us</a>
        </div>

        <hr class="footer-divider"> <!-- Line -->

        <div class="footer-social">
            <span>For support & Help:</span>
            <a href="https://wa.me/918279174005?text=What%20is%20your%20requirement:" target="_blank"><i class="fa-brands fa-whatsapp"></i>
            </a>
          
        </div>

        <p class="footer-copy">© jai Navneet Art & Handicraft</p><br>
    </div>
    <button id="goTopBtn" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></button>
    <br>
</footer> 
