
<% layout("/layout/boilerplate") %>
<div class="container">
    <h2>profile</h2>
    <p>Founded in the year 1985, we “H K Handicraft LLP” are a dependable and famous Manufacturer of a broad range of Home Temple, Bangle Box, Dry Fruit Box, etc. We are a Limited Liability Partnership company, which is located in Ahmedabad (Gujarat, India). We provide these products in diverse specifications to attain the complete satisfaction of the clients. Further, our strong logistic support makes sure that these products are delivered within the promised time-frame. Under the supervision of our mentor “Hashmukh Bhai”, we have gained huge clientele in our country.</p>
</div>